<footer class="secondaryBg text-white text-center footer mb-0 mt-0">
    <div class="container py-5 ">
        <div class="row py-4">
            <div class="col-md-4">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h3>AROUND THE WEB</h3>
                <div>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fa-solid fa-globe"></i>
                </div>
            </div>
            <div class="col-md-4">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>

        </div>
    </div>
    <p class="text-center darkerBg text-white mb-0 py-4">Copyright © Your Website 2021</p>
</footer>
