<nav id="navbar" class="navbar navbar-expand-lg navbar-dark secondaryBg fixed-top py-4">
  <div class="container ">
    <a class="navbar-brand fw-bold fs-2" routerLink="start">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-3">
          <a class="nav-link fw-bold text-white rounded-2" aria-current="page" routerLink="about" routerLinkActive="mainBg" >ABOUT</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link fw-bold text-white rounded-2" routerLink="portfolio" routerLinkActive="mainBg">PORTFOLIO</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link fw-bold text-white rounded-2" routerLink="contact" routerLinkActive="mainBg">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>